h2 {
  margin: 30px;
}

.btn {
  width: 45px;
  height: 40px;
}

.btn--up {
  background-image: url("../img/glyphicons-214-arrow-up.png");  
  background-repeat: no-repeat;
  background-position: center;
}

.btn--down {
  background-image: url("../img/glyphicons-213-arrow-down.png");  
  background-repeat: no-repeat;
  background-position: center;
}

.col {
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  
  min-height: 200px;  
  
  background-color: #efefef;
}

.create {
  margin: 50px auto;
  border: 1px solid #0d0477;
  
  height: 40px;
  width: 140px;  
  
  background-color: #1474cc;  
}